.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: center;
}


.trybewarts-login {
  display: flex;
}

main {
  display: flex;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  flex-basis: 675px;
}

#trybewarts-forms-logo {
  height: 500px;
}

li {
  list-style: none;
}

hr {
  width: 70%;
}

.rate {
  display: flex;
}

textarea {
  resize: none;
}

#name-lastName {
  display: flex;
}

#email-house {
  display: flex;
}

#label-infos {
  display: flex;
}
